html {
  box-sizing: border-box;
}
.circle {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px, rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
}
.circle.active {
  box-shadow: #fff 0 0 2px, #000 0px 0 4px 4px;
}
.normal {
  background-color: #aeb9c5;
}
.blue {
  background-color: #a0c8e3;
}

.pink {
  background-color: #ff7eb9;
}
.green {
  background-color: #5cb85c;
}
.orange {
  background-color: #ff9800;
}
.input-color {
  display: flex;
  /* center */
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.color-select::placeholder {
  font-size: 14px;
}
.color-select {
  flex-basis: 200px;
  padding: 2px 0 2px 0;
  font-size: 17px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  &:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
}

.btn {
  flex-basis: 150px;
  min-width: 100px;
  font-size: 17px;
  background-color: #f5af19;
  color: #009fff;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  &:active {
    background-color: #fff200;
  }
}
